%body.background_image.tomiddle
  %h1.title RECIPE RECOMMENDER

  %br
    %about_us_field
      %p.about_title ABOUT US..
      %p.about_main This Recipe Recommender will provide you a list of recipes given ingredients, nutrition, cuisine type, and more! You can click on any recipes you've enjoyed to find any similar ones. We hope that we will help anyone find a solution to the perennial question: "What's for dinner tonight?"
    = render "layouts/footer"
  -#%br
    -#=image_submit_tag("tmp.gif", disabled: false)
    -#%p
      -#this is test.
      
