%body.background_image.tomiddle
  %h1.title RECIPE RECOMMENDER
  -#%input_field
    -#%br
      -#%idfield
        -#=text_field_tag 'ID', nil ,placeholder: 'ID', :class => 'form-control col-lg-2 tomiddle offset-5'
    -#%br
      -#%passfield
        -#=password_field_tag 'PASS', nil ,placeholder: 'PASS', :class => 'form-control col-lg-2 tomiddle offset-5'
  %br
    %login_register_field
      =submit_tag 'LOGIN', :class => 'btn btn-primary givemargin'
      =submit_tag 'REGISTER', :class => 'btn btn-primary givemargin'
  %br
    %about_us_field
      %p.about_title ABOUT US..
      %p.about_main This Recipe Recommender will provide you a list of recipes given ingredients, nutrition, cuisine type, and more! You can click on any recipes you've enjoyed to find any similar ones. We hope that we will help anyone find a solution to the perennial question: "What's for dinner tonight?"

  -#%br
    -#=image_submit_tag("tmp.gif", disabled: false)
    -#%p
      -#this is test.
      
