%body.background_image.tomiddle
  %h1.title RECIPE RECOMMENDER
  %br
    %idfield
      =text_field_tag 'ID', nil ,placeholder: 'ID'
  %br
    %passfield
      =password_field_tag 'PASS', nil ,placeholder: 'PASS'
  %br
    %login_register_field
      =submit_tag 'LOGIN', :class => 'btn btn-primary'
      =submit_tag 'REGISTER', :class => 'btn btn-primary'
  %br
    %p.about_title ABOUT US..
    %p.about_main We will be building a fully-fledged Recipe Recommendation System that based on specific constraints, like ingredients, calorie restrictions, and cuisine type will output a list of recipes. Users can also click on recipes that they enjoyed making in order to find similar recipes to that specific one. We plan to use Python to build a recipe scraper to get recipes from allrecipes.com and Ruby on Rails, Javascript, HTML, and CSS to deploy the front end of the application. We hope that this project can help anyone who cooks often a simple solution to the perennial question of “What should I cook for dinner tonight?”
  
  -#%br
    -#=image_submit_tag("tmp.gif", disabled: false)
    -#%p
      -#this is test.
      
